.svg-container {
  border: 1px solid rgb(211, 167, 24);
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; /* Round any decimal pixels so it'll render nicely */
}

.keyframe {
  fill: rgb(180, 141, 10);
  stroke: black;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drop-area {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 50vw;
  height: 15vh;
  border: 1px solid black;
}

.droped-pattern {
  display: flex;
  justify-content: flex-start;

  width: 25%;
  height: 100%;
  background-color: red;
}
